@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>/GetMaleGender to show  list of male person </h1>
    <h1>/FullName to show   fullname list </h1>
    <h1>/GetOldestList to show   oldest list </h1>
    <h1>/ComparisonList to compare with 2000 </h1>
</div>
