@model PersonModel
@{
    ViewData["Title"] = "Create Information";
}
<h2 class="display-4">Create Information</h2>
<form action="/Rookies/Create" method="post">
    <div asp-validation-summary="ModelOnly">
        <span>Please correct the following errors</span>
    </div>
    <div></div>
    <span asp-action="ID"> </span>
    <div class="form-group">
        <label>Enter Your First Name :</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>Enter Your Last Name:</label>
        <input class="form-control" type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label>Choose Your Gender:</label>
        <select class="form-control" asp-for="Gender">
            <option>Female</option>
            <option>Male</option>
        </select>
        <span asp-validation-for="Gender"></span>
    </div>
    <div class="form-group">
        <label>Enter Your Birth Place</label>
        <input class="form-control" type="text" asp-for="BirthPlace" />
    </div>
    <div class="form-group">
        <label>Enter Your Email Address </label>
        <input class="form-control" type="email" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Your Birth Day:</label>
        <input type="date" class="form-control" asp-for="DayOfBirth">
        <span asp-validation-for="DayOfBirth"></span>
    </div>
    <div class="form-group">
        <label>Enter Your Phone Number:</label>
        <input class="form-control" type="number" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label>Graduate status:</label>
        <select class="form-control" asp-for="IsGraduated">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <div class="form-group">
        <button class="form-control" type="submit" asp-action="Create">Create</button>
    </div>

</form>